*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    position: relative;
    height: 200px;
    background-image: url('/img/background-header.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    h1{
        margin-left: 3rem;
        color: #0080B1;
    }
    .icon-carrito{
        position: absolute;
        right: 32px;
        bottom: 32px;
        width: 42px;
    }
    .carrito{
        display: none;
        position: absolute;
        right: 32px;
        top: 165px;
        z-index: 2;
        background-color: white;
        box-shadow: 2px 2px 6px gainsboro;
        padding: 16px;
        font-size: 12px;
        table{
            border-spacing: 12px;
            img{
                width: 30px;
            }
            .but-remove{
                background-color: rgb(190, 0, 0);
                color: white;
                padding: 2px 8px;
                margin: 0 auto;
                border-radius: 4px;
            }
            .but-remove:hover{
                opacity: 0.8;
                cursor: pointer;
            }
            .total-price{
                font-size: 14px;
                font-weight: 600;
            }
            .but-more{
                padding: 0 8px;
                text-align: center;
                font-weight: 900;
                background-color: rgb(31, 31, 31);
                color: white;
            }
            .but-more:hover{
                cursor: pointer;
            }
            .clean-basket{
                padding: 8px 0;
                width: 100%;
                background-color: rgb(10, 23, 58);
                color: white;
                font-weight: 600;
                text-transform: uppercase;
            }
            .clean-basket:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
    .icon-carrito:hover  ~ .carrito, .carrito:hover{
        display: block;
    }
    
}

.body-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-items{
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin: 64px auto 32px auto;
    /* background-color: aliceblue; */
    padding: 0 16px;
}
.item{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    margin: 0 0 32px 0;
    h3{
        margin-top: auto;
    }
    span{
        font-size: 24px;
        font-weight: 900;
        color: rgb(240, 146, 24);
        margin-top: auto;
    }
    button{
        background-color: rgb(27, 16, 70);
        color: rgb(236, 236, 236);
        font-weight: 600;
        padding: 8px 0;
        font-size: 18px;
    }
}

footer{
    height: 60px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}